@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Seattle

<div class="container">
<h3>Add Page</h3>
@using (Html.BeginForm())
{
    <h3>Name of the Area:</h3>
    <h3>@Html.TextBoxFor(model => model.AreaName) <input class="btn btn-primary" type="submit" value="Submit"></h3>
}
<p>Blank inputs will not be stored in the data</p>
<br>
<p class="link">@Html.ActionLink("Home", "Index", "Home")
&nbsp &nbsp &nbsp @Html.ActionLink("Show all restaurants", "Index")</p>

</div>
