
@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Seattle
<br>
<br>
<div class="seattleDelete">
<h2>Delete this Area?</h2>

<p>Area Name: @Html.DisplayFor(model => model.AreaName)</p>
@using (Html.BeginForm())
{
    <input class="btn btn-primary" type="submit" value="Delete" />
}

</div>