@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Seattle

<div class="seattleDetail">
    <h2>Area Details</h2>
    <hr />
    <h3>Name : @Html.DisplayFor(model => model.AreaName)</h3>
    <hr />
    <br>
    <div id="seattleDetailLink">
        <p class="link">@Html.ActionLink("Edit this area", "Edit", new {id = Model.SeattleId})
        &nbsp &nbsp &nbsp @Html.ActionLink("Delete this area", "Delete", new {id = Model.SeattleId})</p>
    </div>
</div>