@{
    Layout = "_Layout";
}
@model BestRestaurant.Models.Seattle
<br>
<br>
<div class="seattleEdit">
<h2>Edit this area: @Html.DisplayFor(model => model.AreaName)</h2>

    <div id="seattleEditForm">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.SeattleId)

            <p>Area Name : 
            @Html.EditorFor(model => model.AreaName, new { htmlAttributes = new { @class = "form-control" } })</p>

            <input class="btn btn-primary" type="submit" value="Save">
        }
    </div>
</div>