@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant
<div class="restaurantDelete">
<h2>Delete this restaurant?</h2>

<p>Restaurant Name: @Html.DisplayFor(model => model.RestaurantName)</p>
@using (Html.BeginForm())
{
    <input class="btn btn-primary" type="submit" value="Delete">
}

</div>