@{
    Layout = "_Layout";
}

@model BestRestaurant.Model.BestRestaurant

<h3>Add a new restaurant</h3>
@using (Html.BeginForm())
{
    <h3>@Html.LableFor(model => model.Name)
    <h3>@Html.TextBoxFor(model => model.Name)</h3>
    <br>
    <input class="btn btn-primary" type="submit" value="Add a new restaurant">
}

<p class="link">@Html.ActionLink("Show all restaurants", "Index")</p>
<p class="link">@Html.ActionLink("Home", "Index", "Home")</p>


