@{
    Layout = "_Layout";
}

@model BestRestaurant.Models.BestRestaurant

<h2>Delete this restaurant?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeiginForm())
{
    <input class="btn btn-primary" value="Delete">
}

@Html.ActionLink("Back to restaurant list", "Index")