<div id="header">

<p>@Html.ActionLink("Home", "Index", "Home") </p>

<p>@Html.ActionLink("List of Areas", "Index", "Seattle")</p>

<p>@Html.ActionLink("List of Restaurants", "Index", "Restaurants")</p>

</div>