@{
    Layout = "_Layout";
}

<h1>Best Restaurant in Seattle</h1>
<h3>Best Restaurant have professional cuisine sellection in Seattle.</h3>
<h3>This cuisine management system will guide you best cuisines in Seattle</h3>

<p class="link">@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>
<p class="link">@Html.ActionLink("See all restaurant", "Index", "Restaurant")</p>